.package-details {
  background-image: url("../images/view/package-details.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 50vh;
}
.itinerary-content,
.gallery-content,
.review-content {
  display: none;
}
.card {
  border-radius: 5px;
  background-color: #fff;
  padding-left: 60px;
  padding-right: 60px;
  margin-top: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.rating-box {
  width: 130px;
  height: 130px;
  margin-right: auto;
  margin-left: auto;
  background-color: #fbc02d;
  color: #fff;
}

.rating-label {
  font-weight: bold;
}

.rating-bar {
  width: 300px;
  padding: 8px;
  border-radius: 5px;
}
td {
  padding-bottom: 10px;
}

.star-active {
  color: #fbc02d;
  margin-top: 10px;
  margin-bottom: 10px;
}

.star-active:hover {
  color: #f9a825;
  cursor: pointer;
}

.star-inactive {
  color: #cfd8dc;
  margin-top: 10px;
  margin-bottom: 10px;
}
.content {
  font-size: 18px;
}

.profile-pic {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  margin-right: 30px;
}
